<div class="jumbotron">
  <div class="row">
    <form name="form" method="POST" class="form-horizontal" ng-submit="convert(form.$valid)" novalidate>
      <legend>Numeral System Converter</legend>

      <div class="form-group" ng-class="{ 'has-error' : form.inSystem.$invalid && !form.inSystem.$pristine }">
        <label class="col-md-offset-1 col-md-4 control-label" for="inSystem">Input system</label>
        <div class="col-md-5">
          <input type="number" min="1" pattern="[0-9]*" id="inSystem" name="inSystem" class="form-control input-md"
                 ng-model="formData.inSystem" required>
          <p ng-show="form.inSystem.$invalid && !form.inSystem.$pristine" class="alert alert-danger">
            Invalid format data - should be a natural number.
          </p>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : form.outSystem.$invalid && !form.outSystem.$pristine }">
        <label class="col-md-offset-1 col-md-4 control-label" for="outSystem">Output system</label>
        <div class="col-md-5">
          <input type="number" min="1" pattern="[0-9]*" id="outSystem" name="outSystem" class="form-control input-md"
                 ng-model="formData.outSystem" required>
          <p ng-show="form.outSystem.$invalid && !form.outSystem.$pristine" class="alert alert-danger">
            Invalid format data - should be a natural number.
          </p>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : form.numberToConvert.$invalid && !form.numberToConvert.$pristine }">
        <label class="col-md-offset-1 col-md-4 control-label" for="numberToConvert">Number to convert</label>
        <div class="col-md-5">
          <input type="text" id="numberToConvert" ng-pattern="numToConvRegex" name="numberToConvert" class="form-control input-md"
                 ng-model="formData.numberToConvert" ng-change="validateNumberToConvert()" required>
          <p ng-show="form.numberToConvert.$invalid && !form.numberToConvert.$pristine" class="alert alert-danger">
            This character does not exist in given numeral system.
          </p>
        </div>
      </div>

      <div class="form-group" ng-show="results">
        <label class="col-md-offset-1 col-md-4 control-label" for="results">Results</label>
        <div class="col-md-4">
          <p id="results">{{results}}</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-5 col-md-7">
          <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">
            Convert
          </button>
          <button type="reset" class="btn btn-danger" ng-click="reset()" ng-disabled="form.$pristine">
            Clear
          </button>
          <button type="button" class="btn btn-info" ng-click="toggleSystems()" ng-disabled="!formData.inSystem || !formData.outSystem">
            <i class="fa fa-exchange" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
